*.jl.cov
*.jl.*.cov
*.jl.mem
examples/logistic/data
examples/logistic/analysis/output
examples/poisson/data/mala
examples/poisson/data/psmmala
examples/poisson/data/smmala
examples/poisson/analysis/output
examples/tdist/data
examples/tdist/analysis/output
